<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scripting_Machine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ScintillaNet" publicKeyToken="948D6C9751444115" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.4398.39191" newVersion="2.2.4398.39191"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Scripting_Machine.My.MySettings>
   <setting name="MsgC" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="HelpC" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="AreaC" serializeAs="String">
    <value>LavenderBlush</value>
   </setting>
   <setting name="Lang" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="dImg" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="sURL" serializeAs="String">
    <value>http://mexicanzerver.tk/Skins/Skin_{0}.png</value>
   </setting>
   <setting name="vURL" serializeAs="String">
    <value />
   </setting>
   <setting name="wURL" serializeAs="String">
    <value />
   </setting>
   <setting name="mURL" serializeAs="String">
    <value />
   </setting>
   <setting name="spURL" serializeAs="String">
    <value />
   </setting>
   <setting name="zcrte" serializeAs="String">
    <value>GangZoneCreate({0}, {1}, {2}, {3});</value>
   </setting>
   <setting name="zshw" serializeAs="String">
    <value>GangZoneShowForAll({5}, {6});</value>
   </setting>
   <setting name="Bounds" serializeAs="String">
    <value>SetPlayerWorldBounds(playerid, {0}, {1}, {2}, {3});</value>
   </setting>
   <setting name="aFill" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="aMSelect" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="oPath" serializeAs="String">
    <value />
   </setting>
   <setting name="assoc" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="iTabs" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CUDP" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CP" serializeAs="String">
    <value />
   </setting>
   <setting name="CA" serializeAs="String">
    <value>-r</value>
   </setting>
   <setting name="OETab" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="tBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="aSel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FirstTime" serializeAs="String">
    <value>True</value>
   </setting>
  </Scripting_Machine.My.MySettings>
 </userSettings>
</configuration>
